// Google Font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// Vendor
@import "../node_modules/nprogress/nprogress.css";
@import "../vendor/normalize.css";

// Variables
$chat-height: 384px;
$chat-bg-color: #fefafd;
$border-color: #8409a9;
$button-bg-color: $chat-bg-color;
$button-hover-color: #e9daf8;
$chat-input-border-radius: 18px;

// Defaults for sanity
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body, html {
  height: 100%;
}

input:focus {
  outline: none;
}

// Login

.login-window {
  width: 100%;
  height: 180px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login-window__input {
  padding: 6px;

  border: 1px solid $border-color;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.login-window__submit {
  cursor: pointer;
  padding: 6px;

  background-color: $button-bg-color;
  border-top: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  border-left: none;

  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

// Chat

// Scrollbar hax
::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgb(98, 97, 97);
}

body {
  font-family: 'Open Sans', sans-serif;

  display: flex;
  flex-direction: column;

  max-width: 960px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-top: 60px;
  width: 100%;
}

.button {
  cursor: pointer;
  border-radius: 9px;
  padding: 6px 18px;
  border: 2px solid $border-color;
  background-color: $button-bg-color;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.button:hover {
  background-color: $button-hover-color;
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items__item {
  display: flex;
  font-weight: bold;

  &--welcome {
    font-size: 1.3em;
  }
}

.main-content {
  background-color: $chat-bg-color;
  font-family: 'Open Sans', sans-serif;

  font-size: 1.1em;

  border-radius: 9px;
  border: 2px solid $border-color;
  box-shadow: 2px 2px 3px -2px rgb(34, 34, 36);

  margin-top: 24px;
  margin-bottom: 24px;

  padding: 6px;

  width: 100%;
  display: flex;
}

// the live chat inserts a div here, it needs to be a flex container too
main.main-content div {
  width: 100%;
  display: flex;
}

.chat {
  max-width: 750px;
  word-wrap: break-word;

  flex-grow: 4;
}

.online-users {
  max-height: $chat-height;
  overflow-y: auto;
  min-width: 200px;

  border-left: 1px solid #a5b5c5;
  padding-top: 6px;
  flex-grow: 1;
}

.online-users__heading {
  text-align: center;
  margin-bottom: 0.5em;
}

.chat__message-list {
  display: flex;
  list-style-type: none;
  height: $chat-height;
  overflow-y: scroll;
  flex-direction: column-reverse;

  margin-bottom: 16px;
  padding: 6px 8px 2px 8px;
}

.chat__message {
  padding: 3px;
}

.chat__input-area {
  display: flex;
}

.chat__input {
  padding: 6px 6px 6px 16px;
  flex: 8;

  border: 1px solid $border-color;
  border-top-left-radius: $chat-input-border-radius;
  border-bottom-left-radius: $chat-input-border-radius;

  font-size: .85em;
  line-height: 1.7em;
}

.chat__submit {
  cursor: pointer;
  flex: 1;

  background-color: $button-bg-color;
  border-top: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  border-left: none;

  border-top-right-radius: $chat-input-border-radius;
  border-bottom-right-radius: $chat-input-border-radius;

  padding-right: 6px;
}

.chat__submit:hover {
  background-color: $button-hover-color;
}

.user-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.user-list__username {
  margin-left: 12px;
}

.footer {
  width: 100%;
}

.footer__copy {
  text-align: center;
  padding: 4px;
}

// use columns on small devices (768 px tablet)
@media (max-width: 768px) {
  main.main-content div, .nav-items {
    flex-direction: column;
  }

  .header {
    margin-top: 2px;
  }

  .nav-items__item {
    margin-top: 8px;
  }

  .online-users {
    display: none;
  }

  .chat__input {
    border-radius: 0px;
    border: 1px solid $border-color;
  }

  .chat__submit {
    border-radius: 0px;
    border: 1px solid black;
    border-top: none;
    padding: 6px;

    margin-bottom: 12px;
  }
 }
