// Google Font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Code+Pro&display=swap');

// Vendor
@import "../node_modules/nprogress/nprogress.css";
@import "../vendor/normalize.css";

// Variables
$chat-height: 392px;

// Defaults for sanity
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body, html {
  height: 100%;
}

// Login

.login-window {
  width: 100%;
  height: 180px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login-window__input {
  padding: 6px;
}

.login-window__submit {
  cursor: pointer;
  padding: 6px;
}

// Chat

// Scrollbar hax
::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgb(98, 97, 97);
}

body {
  font-family: 'Open Sans', sans-serif;

  display: flex;
  flex-direction: column;

  max-width: 960px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-top: 18px;
  width: 100%;
}

.button {
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 18px;
  border: 1px solid #a5b5c5;
  background-color: #bdd9f5;
  text-decoration: none;
  font-weight: bold;
}

.button:hover {
  background-color: #d2e5f8;
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items__item {
  display: flex;
  font-weight: bold;

  &--welcome {
    font-size: 1.3em;
  }
}

.main-content {
  // old colors: green text / dark background
  // background-color: #242628;
  // color: #15ff00;
  background-color: #d7d8df;
  font-family: 'Source Code Pro', monospace;

  font-size: 1.1em;

  border-radius: 3px;
  box-shadow: 2px 2px 3px -2px rgb(34, 34, 36);

  margin-top: 24px;
  margin-bottom: 24px;

  width: 100%;
  display: flex;
}

// the live chat inserts a div here, it needs to be a flex container too
main.main-content div {
  width: 100%;
  display: flex;
}

.chat {
  flex-grow: 4;
}

.online-users {
  max-height: $chat-height;
  overflow-y: auto;

  border-left: 1px solid #a5b5c5;
  padding-top: 6px;
  flex-grow: 1;
}

.online-users__heading {
  text-align: center;
  margin-bottom: 0.5em;
}

.chat__message-list {
  display: flex;
  list-style-type: none;
  height: $chat-height;
  overflow-y: scroll;
  flex-direction: column-reverse;

  margin-bottom: 2px;
}

.chat__message {
  padding: 3px;
}

.chat__input-area {
  display: flex;
}

.chat__input {
  padding: 6px;
  flex: 8;
}

.chat__submit {
  cursor: pointer;
  flex: 1;
}

.user-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.user-list__username {
  margin-left: 12px;
}

.footer {
  width: 100%;
}

.footer__copy {
  text-align: center;
  padding: 4px;
}

// use columns on small devices (768 px tablet)
@media (max-width: 768px) {
  main.main-content div {
    flex-direction: column;
  }

  .user-list {
    flex-direction: row;
  }
 }
