<section class="phx-hero">
  <h1>Welcome to Phoenix Live Chat!</h1>

  <form phx-submit="send_chat">
    <input type="text" name="msg_input" value="<%= @msg %>" placeholder="Enter message" autocomplete="off"/>
    <button type="submit" phx-disable-with="Sending...">Send Chat</button>
  </form>
</section>

<hr />

(footer)
