<section class="login">
  <h2>Welcome! Choose a username</h2>

  <%= form_for @conn, Routes.auth_path(@conn, :auth), fn f -> %>
    <%= text_input f, :username, placeholder: "Choose a name" %>
    <%= submit "Login" %>
  <% end %>
</section>

